# Numerical computing
numpy

# Tensorboard interface
tensorboardX

# Progress bar
tqdm

# NLP utilities
spacy

# Unit tests
pytest

# Lets pytest find our code
pytest-pythonpath

# Style linting
flake8
